<h2>Today's article</h2>
<hr>
<div>
  <button (click)="addArticle()">Add</button>
  <div *ngFor="let art of articles">
    <a href="{{art.url}}" target="_blank">{{art.title}}</a>
  </div>
  <a href="{{articles.url}}" target="_blank">{{article.title}}</a>
  <textarea [(ngModel)]="articles.title" cols="70"></textarea>
  <textarea [(ngModel)]="articles.url" cols="70"></textarea>
  <input (click)="updateArticle()" type="button" value="Update">
  <div *ngFor="let art of articles">
    <a href="{{art.url}}" target="_blank">{{art.title}}</a>
    <likes></likes>
  </div>
</div>
<hr>
@CodeGym, 2019
